body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

#page-logo a {
  padding: 1em;
  font-family: "Oleo Script", sans-serif;
  color: rgba(249, 247, 89, 0.9);
  font-size: 3rem;
  text-decoration: none;
  /* text-transform: capitalize; */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

#page-logo a:hover {
    color: rgba(249, 247, 89, 1);
}


header ul {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

header li {
  margin: 1rem;
  text-align: right;
  padding: 1em;
}

header a {
  text-decoration: none;
  color: rgba(249, 247, 89, 0.963);
  font-size: 1.2em;
  padding: 0.5em;
  /* text-transform: uppercase; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

header a:-webkit-any-link {
  text-decoration: none;
}

li a:hover {
  color: rgb(77, 77, 77);
  background-color: rgba(249, 247, 89, 0.963);
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5);
}
